<h1>Employee Template form </h1>
<form #reg="ngForm" (ngSubmit)="register(reg);clear(reg);">
    <label>Employee Code</label><br>
    <input type="text" name="code" id="code" ngModel required #ecode="ngModel"><br>
    <p *ngIf="ecode.touched && !ecode.valid" [ngStyle]="{'color':'red'}">Code is Mandatory</p>
    <label>Employee Name</label><br>
    <input type="text" name="name" id="name" ngModel required #name="ngModel"><br>
    <p *ngIf="name.touched && !name.valid" [ngStyle]="{'color':'red'}">Name is Mandatory</p>

    <label>Department</label><br>
    <input type="text" name="dept" id="dept" ngModel required #dept="ngModel"><br>
    <p *ngIf="dept.touched && !dept.valid" [ngStyle]="{'color':'red'}">Department is Mandatory</p>

    <label>Designation</label><br>
    <input type="text" name="desg" id="desg" ngModel required #desg="ngModel"><br>
    <p *ngIf="desg.touched && !desg.valid" [ngStyle]="{'color':'red'}">Designation is Mandatory</p>

    <label>Salary</label><br>
    <input type="text" name="sal" id="sal" ngModel required #sal="ngModel"><br>
    <p *ngIf="sal.touched && !sal.valid" [ngStyle]="{'color':'red'}">Salary is Mandatory</p>

    <input type="submit" value="Submit">
    <input type="submit" value="Update">
</form>

<div *ngIf="regEmp.length>0">
    <h1>Registered Employees</h1>
    <table>
        <tr>
            <th>Employee Code</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Salary</th>
        </tr>
    
        <tr *ngFor="let suma of regEmp">
            <td>{{suma.code}}</td>
            <td>{{suma.name}}</td>
            <td>{{suma.dept}}</td>
            <td>{{suma.desg}}</td>
            <td>{{suma.sal}}</td>
            <!-- <td><a [routerLink]="['suma/edit',suma.id]">Edit</a></td>
            <td><a [routerLink]="['suma/delete',suma.id]">Delete</a></td> -->
            <td>
               <button (click)="edit(reg)">Edit</button>
               <button id=remove (click)="delete(suma.code)">Delete</button>
            </td>
           
      
        </tr>
        
    
    </table>
    </div>
